
*.o
Makefile
*.Debug
*.Release
ui_agendaitemcontextmenu.h
ui_agendaitemsettings.h
ui_agendasettings.h
ui_agendatab.h
ui_browserwidget.h
ui_decissionitemsettings.h
ui_decissionlibraryeditdialog.h
ui_decissionlibrarytab.h
ui_editadvisersdialog.h
ui_generatortab.h
ui_mainview.h
ui_orderitemsettings.h
ui_ordertab.h
ui_patterneditor.h
ui_patterneditorreport.h
ui_patterneditorreportitemsettings.h
ui_patternitemsettings.h
ui_propertysettings.h
ui_propertytab.h
ui_qsqlconnectiondialog.h
ui_reportgeneratortab.h
ui_systemsettings.h
ui_votingdialog.h
